/* Import */
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

/* Global */
.App {
  text-align: center;
}

body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), url(../img/bg.png), #C4C4C4;
  background-size: cover; 
  font-family: Hammersmith one;
}

/* Form */
input {
  font-family: Hammersmith one;
  width: 444px;
  height: 25px;
  display: flex;
  flex-flow: column;
  margin-bottom: 10%;
  font-size: 1rem;
}

.smurf-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: Hammersmith one;
  width: 265px;
  height: 40px;
  background: #6299CB;
  border: none;
  font-size: 1rem;
}
.title {
  margin: 5% 0 0 0;
}
/* Output */
.smurf-list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.smurf {
  margin: 3%;
  padding: 2% 5%;
  background: white;
}